/quiz-web/node_modules
/quiz-web/src/main/web/node
/quiz-web/dist
/quiz-web/target

/quiz-server/src/main/webapp
/quiz-server/target

.settings

*.war
*.jar
*.jpg
/quiz-server/target
/quiz-server/target
