<h1>Highscore Ranking:</h1>
<p>
    Hier kommen die ersten 10 Einträge der Highscore Tabelle, nach Punktzahl
    sortiert.
</p>
<table id="tabelle">
    <tr>
        <th class="platz">Platz:</th>
        <th class="wichtig">Name</th>
        <th class="wichtig">Punkte</th>
        <th class="unwichtig">Fragen beantwortet</th>
        <th class="unwichtig">richtige Antworten</th>
    </tr>
    <tr
        *ngFor="let highscore of highscoreListe; let i = index"
        [attr.data-index]="i"
    >
        <td class="platz">{{ i + 1 }}</td>
        <td class="wichtig">{{ highscore.name }}</td>
        <td class="wichtig">{{ highscore.punkte }}</td>
        <td class="unwichtig">{{ highscore.anzahlFragen }}</td>
        <td class="unwichtig">{{ highscore.anzahlRichtig }}</td>
    </tr>
</table>
