<h1>Auswertung:</h1>
<p>
    Du hast +Anzahl gelöste Fragen+ Fragen beantwortet. Davon waren +Anzahl
    richtige Antworten+ Antworten richtig. Somit hast du +Punktewertung+ Punkte
    erreicht.
</p>
<h1>Highscore Ranking:</h1>
<p>
    Hier kommen die ersten 10 Einträge der Highscore Tabelle, nach Punktzahl
    sortiert.
</p>
<table>
    <tr>
        <th>Platz:</th>
        <th>Name</th>
        <th>beantwortete Fragen</th>
        <th>richtige Antworten</th>
        <th>Punktewertung</th>
    </tr>
    <tr>
        <td>count</td>
        <td>+Name+</td>
        <td>+Anzahl beantwortete Fragen+</td>
        <td>+Anzahk richtige Antworten+</td>
        <td>+Punktewertung+</td>
    </tr>
</table>
Feature, was noch kommen kann: Tabellenminimierung, wenn der Platz zu eng wird, dann wird nur noch Platz, Name und Punktewertung angezeigt.
